CARS44 is a next-generation eCommerce platform for pre-owned autos (cars and bikes). We provide the best experience for car buyers by offering a wide assortment of certified cars that are home delivered with a click of a button while sellers get the best price of their vehicles in less than 1 hour. 

CARS44 is your single stop for buying or selling used cars, all over India. We've brought together cutting-edge technology with country-wide partners and more importantly, a deep understanding of what buyers and sellers need. We solve all pain points associated with selling an existing car or purchasing a pre-loved one. Whether you're buying or selling, you get a quick, easy, fair, transparent, hassle (and haggle) free process.


If you’re in the market for a pre-used car, the process can be daunting. Finding the car, talking to the owner, negotiating, examining its condition, wondering what you haven’t been told, final purchase, RC Transfer, money transfer… phew, that’s a lot for you to go through, especially in a market that’s quite scattered. By visiting CARS44, we make this as simple as any other form of online shopping.

Our large catalogue of cars has every make and model you want, with a thorough vetting process ensuring full transparency in quality. With easy financing options, RC Transfer assistance, and a 6-month warranty on each car, we take all the uncertainty out of the purchase process. You focus on where you’ll go when your newly purchased car comes home, we’ll take care of the rest.

Since our business involves procuring second-hand cars, we have an evaluation process through which we identify what should be the ideal price of a used car. We wish to leverage the power of artificial intelligence to arrive at the correct price of the car. Hence, In this competition, you are supposed to use your data prowess and help us predict the cost of used cars given the data collected from various cities and states across India.

In [1]:
import pandas as pd
import numpy as np

In [2]:
train=pd.read_csv(r"C:\Users\Lenovo\Downloads\Train_cars.csv")


test=pd.read_csv(r"C:\Users\Lenovo\Downloads\Test_cars.csv")

In [3]:
train.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti 800 Std BSIII,Bangalore,2012,33715,Diesel,Manual,First,16.46 kmpl,1248 CC,100 bhp,5.0,43.65 Lakh,25.53
1,Honda City 1.5 V AT,Delhi,2013,73977,Diesel,Manual,First,18.6 kmpl,2993 CC,61 bhp,4.0,NaN,4.58
2,Honda CR-V RVi MT,Delhi,2007,16460,CNG,Manual,Third,15.3 kmpl,1599 CC,140 bhp,5.0,NaN,2.37
3,Skoda Yeti Ambition 4X2,Kolkata,2009,35048,Petrol,Manual,First,25.47 kmpl,1196 CC,86.8 bhp,5.0,NaN,1.20
4,Hyundai i10 Magna LPG,Coimbatore,2013,41656,Petrol,Automatic,First,19.12 kmpl,1999 CC,115 bhp,7.0,13.26 Lakh,33.04

In [4]:
train.shape

(22500, 13)

submission=pd.DataFrame({'Name':test.Name,'Price':avg})

submission=submission.set_index('Name')

submission.to_csv('Cars_price_avg9.csv')

In [5]:
train.isnull().sum()

Name                     0
Location                 0
Year                     0
Kilometers_Driven        0
Fuel_Type                0
Transmission             0
Owner_Type               0
Mileage                 92
Engine                  37
Power                   85
Seats                   92
New_Price            18619
Price                    0
dtype: int64

In [6]:
test.isnull().sum()

Name                     0
Location                 0
Year                     0
Kilometers_Driven        0
Fuel_Type                0
Transmission             0
Owner_Type               0
Mileage                249
Engine                  69
Power                  232
Seats                  246
New_Price            43315
dtype: int64

In [7]:
train.New_Price=train.New_Price.str.split(' ').str[0]

test.New_Price=test.New_Price.str.split(' ').str[0]

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22500 entries, 0 to 22499
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               22500 non-null  object
 1   Location           22500 non-null  object
 2   Year               22500 non-null  int64
 3   Kilometers_Driven  22500 non-null  int64
 4   Fuel_Type          22500 non-null  object
 5   Transmission       22500 non-null  object
 6   Owner_Type         22500 non-null  object
 7   Mileage            22408 non-null  object
 8   Engine             22463 non-null  object
 9   Power              22415 non-null  object
 10  Seats              22408 non-null  float64
 11  New_Price          3881 non-null   object
 12  Price              22500 non-null  float64
dtypes: float64(2), int64(2), object(9)
memory usage: 2.2+ MB

In [9]:
train.New_Price=train.New_Price.astype(np.number)

test.New_Price=test.New_Price.astype(np.number)

In [10]:
train.New_Price=train.New_Price.fillna(train.New_Price.mean())

test.New_Price=test.New_Price.fillna(test.New_Price.mean())

# dropping new price
train=train.drop('New_Price',axis=1)

test=test.drop('New_Price',axis=1)

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22500 entries, 0 to 22499
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               22500 non-null  object
 1   Location           22500 non-null  object
 2   Year               22500 non-null  int64
 3   Kilometers_Driven  22500 non-null  int64
 4   Fuel_Type          22500 non-null  object
 5   Transmission       22500 non-null  object
 6   Owner_Type         22500 non-null  object
 7   Mileage            22408 non-null  object
 8   Engine             22463 non-null  object
 9   Power              22415 non-null  object
 10  Seats              22408 non-null  float64
 11  New_Price          22500 non-null  float64
 12  Price              22500 non-null  float64
dtypes: float64(3), int64(2), object(8)
memory usage: 2.2+ MB

In [12]:
# Engine

train.Engine=train['Engine'].str.split(' ').str[0]

test.Engine=test['Engine'].str.split(' ').str[0]

In [13]:
# filling rest null values
train.Engine=train.Engine.fillna(train.Engine.median())

test.Engine=test.Engine.fillna(test.Engine.median())

In [14]:
# milage
train.Mileage=train.Mileage.str.split(' ').str[0]

test.Mileage=test.Mileage.str.split(' ').str[0]

In [15]:
train.Mileage=train.Mileage.astype(np.number)

test.Mileage=test.Mileage.astype(np.number)

In [16]:
import warnings
warnings.filterwarnings('ignore')

In [17]:
train.Mileage=train.Mileage.fillna(train.Mileage.mean())

In [18]:
test.Mileage=test.Mileage.fillna(test.Mileage.mean())

In [19]:
# Power 
train.Power=train.Power.str.split(' ').str[0]

test.Power=test.Power.str.split(' ').str[0]

In [20]:
train.Power=train.Power.replace({'null':np.nan})

test.Power=test.Power.replace({'null':np.nan})

In [21]:
train.Power=train.Power.astype(np.number)

test.Power=test.Power.astype(np.number)

In [22]:
train.Power=train.Power.fillna(train.Power.mean())

test.Power=test.Power.fillna(test.Power.mean())

In [23]:
#Seats
train.Seats=train.Seats.astype('object')

test.Seats=test.Seats.astype('object')

In [24]:
train.Seats=train.Seats.fillna(train.Seats.median())

test.Seats=test.Seats.fillna(test.Seats.median())

In [25]:
train.isnull().sum()

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

In [26]:
test.isnull().sum()

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
dtype: int64

In [27]:
train.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti 800 Std BSIII,Bangalore,2012,33715,Diesel,Manual,First,16.46,1248,100.0,5.0,43.65000,25.53
1,Honda City 1.5 V AT,Delhi,2013,73977,Diesel,Manual,First,18.60,2993,61.0,4.0,17.35136,4.58
2,Honda CR-V RVi MT,Delhi,2007,16460,CNG,Manual,Third,15.30,1599,140.0,5.0,17.35136,2.37
3,Skoda Yeti Ambition 4X2,Kolkata,2009,35048,Petrol,Manual,First,25.47,1196,86.8,5.0,17.35136,1.20
4,Hyundai i10 Magna LPG,Coimbatore,2013,41656,Petrol,Automatic,First,19.12,1999,115.0,7.0,13.26000,33.04

In [28]:
def Engine(x):
    if x<=1300:
        return ('Less Power')
    
    elif 1300<x<=1550:
        return ('Power')
    
    elif 1550<x<=2000:
        return ('More Power')
    
    elif 2000<x<=2500:
        return ('Powerful')
    
    elif 2500<x<=3000:
        return ('ABC')
    
    #elif 2000<x<2250:
     #   return ('XYZ')
    
    else:
        return ('EX Power')

In [29]:
train.Engine=train.Engine.astype(np.number)

test.Engine=test.Engine.astype(np.number)

In [30]:
train.Engine=train.Engine.apply(Engine)

In [31]:
test.Engine=test.Engine.apply(Engine)

In [32]:
train.Year=2022-train['Year']

In [33]:
test.Year=2022-test['Year']

In [34]:
train.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti 800 Std BSIII,Bangalore,10,33715,Diesel,Manual,First,16.46,Less Power,100.0,5.0,43.65000,25.53
1,Honda City 1.5 V AT,Delhi,9,73977,Diesel,Manual,First,18.60,ABC,61.0,4.0,17.35136,4.58
2,Honda CR-V RVi MT,Delhi,15,16460,CNG,Manual,Third,15.30,More Power,140.0,5.0,17.35136,2.37
3,Skoda Yeti Ambition 4X2,Kolkata,13,35048,Petrol,Manual,First,25.47,Less Power,86.8,5.0,17.35136,1.20
4,Hyundai i10 Magna LPG,Coimbatore,9,41656,Petrol,Automatic,First,19.12,More Power,115.0,7.0,13.26000,33.04

In [35]:
train.Kilometers_Driven.value_counts()

171      48
39465     5
52413     5
41124     4
40428     4
         ..
63819     1
52240     1
44207     1
70767     1
42157     1
Name: Kilometers_Driven, Length: 19026, dtype: int64

In [36]:
def km(x):
    if x<=25000:
        return ('Less Driven')
    
    elif 25000<x<=40000:
        return ('Moderate Driven')
    
    elif 40000<x<=70000:
        return ('Old')
    
    elif 70000<x<=100000:
        return ('ABC')
    
    #elif 50000<x<=70000:
      #  return ('XYZ')
    
    else:
        return ('Very old')

In [37]:
train.Kilometers_Driven=train.Kilometers_Driven.apply(km)

test.Kilometers_Driven=test.Kilometers_Driven.apply(km)

In [38]:
train.Owner_Type.unique()

array(['First', 'Third', 'Second', 'Fourth & Above'], dtype=object)

In [39]:
train.Owner_Type=train.Owner_Type.replace({'Fourth & Above':0,'Third':1,'Second':2,'First':3})

test.Owner_Type=test.Owner_Type.replace({'Fourth & Above':0,'Third':1,'Second':2,'First':3})

In [40]:
train.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti 800 Std BSIII,Bangalore,10,Moderate Driven,Diesel,Manual,3,16.46,Less Power,100.0,5.0,43.65000,25.53
1,Honda City 1.5 V AT,Delhi,9,ABC,Diesel,Manual,3,18.60,ABC,61.0,4.0,17.35136,4.58
2,Honda CR-V RVi MT,Delhi,15,Less Driven,CNG,Manual,1,15.30,More Power,140.0,5.0,17.35136,2.37
3,Skoda Yeti Ambition 4X2,Kolkata,13,Moderate Driven,Petrol,Manual,3,25.47,Less Power,86.8,5.0,17.35136,1.20
4,Hyundai i10 Magna LPG,Coimbatore,9,Old,Petrol,Automatic,3,19.12,More Power,115.0,7.0,13.26000,33.04

In [41]:
# scaling 
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22500 entries, 0 to 22499
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               22500 non-null  object
 1   Location           22500 non-null  object
 2   Year               22500 non-null  int64
 3   Kilometers_Driven  22500 non-null  object
 4   Fuel_Type          22500 non-null  object
 5   Transmission       22500 non-null  object
 6   Owner_Type         22500 non-null  int64
 7   Mileage            22500 non-null  float64
 8   Engine             22500 non-null  object
 9   Power              22500 non-null  float64
 10  Seats              22500 non-null  float64
 11  New_Price          22500 non-null  float64
 12  Price              22500 non-null  float64
dtypes: float64(5), int64(2), object(6)
memory usage: 2.2+ MB

In [42]:
train.Owner_Type=train.Owner_Type.astype('object')

test.Owner_Type=test.Owner_Type.astype('object')

train.Seats=train.Seats.astype('object')

test.Seats=test.Seats.astype('object')

In [43]:
train.Name=train.Name.str.split(' ').str[0]

test.Name=test.Name.str.split(' ').str[0]

In [44]:
train=train.drop('Name',axis=1)

test=test.drop('Name',axis=1)

In [45]:
X=train.drop('Price',axis=1)
y=train['Price']

In [46]:
num=X.select_dtypes(np.number)

In [47]:
num

       Year  Mileage       Power  Seats  New_Price
0        10    16.46  100.000000    5.0   43.65000
1         9    18.60   61.000000    4.0   17.35136
2        15    15.30  140.000000    5.0   17.35136
3        13    25.47   86.800000    5.0   17.35136
4         9    19.12  115.000000    7.0   13.26000
...     ...      ...         ...    ...        ...
22495    13    21.10  100.600000    5.0   17.35136
22496    10    33.44  117.017897    5.0   17.35136
22497    11    26.21   58.160000    5.0   17.35136
22498     8    17.80   75.000000    5.0   17.35136
22499     6    26.59  201.100000    5.0   17.35136

[22500 rows x 5 columns]

In [48]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [49]:
train_scaled=sc.fit_transform(num)

In [50]:
train_scaled=pd.DataFrame(train_scaled,columns=num.columns)

In [51]:
cat=train.select_dtypes('object')

In [52]:
X=pd.concat([train_scaled,cat],axis=1)

In [53]:
X

,Year,Mileage,Power,Seats,New_Price,Location,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Engine
0,-0.067808,-0.374329,-2.657225e-01,-0.416981,3.452222e+00,Bangalore,Moderate Driven,Diesel,Manual,3,Less Power
1,-0.443218,0.050963,-8.746801e-01,-1.605335,2.331823e-15,Delhi,ABC,Diesel,Manual,3,ABC
2,1.809247,-0.604861,3.588494e-01,-0.416981,2.331823e-15,Delhi,Less Driven,CNG,Manual,1,More Power
3,1.058425,1.416269,-4.718312e-01,-0.416981,2.331823e-15,Kolkata,Moderate Driven,Petrol,Manual,3,Less Power
4,-0.443218,0.154305,-3.150805e-02,1.959729,-5.370728e-01,Coimbatore,Old,Petrol,Automatic,3,More Power
...,...,...,...,...,...,...,...,...,...,...,...
22495,1.058425,0.547799,-2.563539e-01,-0.416981,2.331823e-15,Mumbai,Moderate Driven,CNG,Manual,2,Power
22496,-0.067808,3.000183,5.547313e-14,-0.416981,2.331823e-15,Mumbai,Moderate Driven,Petrol,Manual,3,Less Power
22497,0.307603,1.563333,-9.190247e-01,-0.416981,2.331823e-15,Jaipur,Old,Diesel,Manual,3,Less Power
22498,-0.818629,-0.108024,-6.560800e-01,-0.416981,2.331823e-15,Mumbai,Moderate Driven,Petrol,Manual,3,Less Power
22499,-1.569451,1.638852,1.312883e+00,-0.416981,2.331823e-15,Kochi,Old,Diesel,Manual,3,Less Power

In [54]:
num1=test.select_dtypes(np.number)

In [55]:
num1

       Year  Mileage       Power  Seats  New_Price
0        12    17.80  258.000000    7.0  17.431358
1        11    23.90  183.000000    5.0   4.330000
2         8    19.59  203.000000    5.0  71.150000
3         5    23.90  215.000000    5.0  17.431358
4         7    26.60  147.800000    7.0  17.431358
...     ...      ...         ...    ...        ...
52495     8    16.09  116.604678    8.0  17.431358
52496     5    12.60   85.800000    5.0   1.360000
52497    10    22.00  174.300000    5.0  10.040000
52498    10    10.98  112.000000    5.0  17.431358
52499     5    14.00  488.100000    5.0  17.431358

[52500 rows x 5 columns]

In [56]:
test_scaled=sc.transform(num1)
test_scaled=pd.DataFrame(test_scaled,columns=num1.columns)

In [57]:
cat1=test.select_dtypes('object')

In [58]:
newtest=pd.concat([test_scaled,cat1],axis=1)

In [59]:
newtest

,Year,Mileage,Power,Seats,New_Price,Location,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Engine
0,0.683014,-0.108024,2.201337,1.959729,0.010501,Delhi,Old,Diesel,Automatic,3,Less Power
1,0.307603,1.104256,1.030264,-0.416981,-1.709314,Jaipur,Old,Diesel,Automatic,3,Powerful
2,-0.818629,0.247710,1.342550,-0.416981,7.062146,Bangalore,Moderate Driven,Petrol,Automatic,3,Powerful
3,-1.944862,1.104256,1.529922,-0.416981,0.010501,Kochi,Old,Petrol,Manual,3,Power
4,-1.194040,1.640839,0.480641,1.959729,0.010501,Kochi,Less Driven,Petrol,Automatic,3,ABC
...,...,...,...,...,...,...,...,...,...,...,...
52495,-0.818629,-0.447860,-0.006452,3.148084,0.010501,Kolkata,Old,Diesel,Manual,3,Less Power
52496,-1.944862,-1.141444,-0.487446,-0.416981,-2.099185,Kochi,Old,Diesel,Manual,3,More Power
52497,-0.067808,0.726660,0.894420,-0.416981,-0.959762,Hyderabad,Old,Diesel,Manual,3,ABC
52498,-0.067808,-1.463394,-0.078351,-0.416981,0.010501,Hyderabad,Moderate Driven,Diesel,Manual,3,More Power
52499,-1.944862,-0.863215,5.794186,-0.416981,0.010501,Kolkata,Old,Petrol,Manual,3,More Power

X.Owner_Type=X.Owner_Type.astype()

newtest.Owner_Type=newtest.Owner_Type.astype(np.number)

In [60]:
X=pd.get_dummies(X,drop_first=True)

In [61]:
newtest=pd.get_dummies(newtest,drop_first=True)

In [62]:
X.shape

(22500, 32)

In [63]:
newtest.shape

(52500, 32)

In [64]:
# modelling
from sklearn.ensemble import RandomForestRegressor

In [65]:
rf=RandomForestRegressor(n_estimators=50,max_depth=12)

In [66]:
model_rf=rf.fit(X,y)

In [67]:
X.shape,newtest.shape

((22500, 32), (52500, 32))

In [68]:
X.columns,newtest.columns

(Index(['Year', 'Mileage', 'Power', 'Seats', 'New_Price', 'Location_Bangalore',
        'Location_Chennai', 'Location_Coimbatore', 'Location_Delhi',
        'Location_Hyderabad', 'Location_Jaipur', 'Location_Kochi',
        'Location_Kolkata', 'Location_Mumbai', 'Location_Pune',
        'Kilometers_Driven_Less Driven', 'Kilometers_Driven_Moderate Driven',
        'Kilometers_Driven_Old', 'Kilometers_Driven_Very old',
        'Fuel_Type_Diesel', 'Fuel_Type_Electric', 'Fuel_Type_LPG',
        'Fuel_Type_Petrol', 'Transmission_Manual', 'Owner_Type_1',
        'Owner_Type_2', 'Owner_Type_3', 'Engine_EX Power', 'Engine_Less Power',
        'Engine_More Power', 'Engine_Power', 'Engine_Powerful'],
       dtype='object'),
 Index(['Year', 'Mileage', 'Power', 'Seats', 'New_Price', 'Location_Bangalore',
        'Location_Chennai', 'Location_Coimbatore', 'Location_Delhi',
        'Location_Hyderabad', 'Location_Jaipur', 'Location_Kochi',
        'Location_Kolkata', 'Location_Mumbai', 'Location_Pune',
        'Kilometers_Driven_Less Driven', 'Kilometers_Driven_Moderate Driven',
        'Kilometers_Driven_Old', 'Kilometers_Driven_Very old',
        'Fuel_Type_Diesel', 'Fuel_Type_Electric', 'Fuel_Type_LPG',
        'Fuel_Type_Petrol', 'Transmission_Manual', 'Owner_Type_1',
        'Owner_Type_2', 'Owner_Type_3', 'Engine_EX Power', 'Engine_Less Power',
        'Engine_More Power', 'Engine_Power', 'Engine_Powerful'],
       dtype='object'))

In [69]:
pred_rf=model_rf.predict(newtest)

submission=pd.DataFrame({'Name':test.Name,'Price':pred_rf})

submission=submission.set_index('Name')

submission.to_csv('Cars_price_rf6911.csv')

In [70]:
from xgboost import XGBRegressor

In [71]:
xg=XGBRegressor()

In [72]:
model_xg=xg.fit(X,y)

In [73]:
pred_xg=model_xg.predict(newtest)

submission=pd.DataFrame({'Name':test.Name,'Price':pred_xg})

submission=submission.set_index('Name')

submission.to_csv('Cars_price_xg.csv')

In [74]:
from sklearn.tree import DecisionTreeRegressor

In [75]:
dct=DecisionTreeRegressor()

In [76]:
model_dct=dct.fit(X,y)

In [77]:
pred_dct=model_dct.predict(newtest)

submission=pd.DataFrame({'Name':test.Name,'Price':pred_dct})

submission=submission.set_index('Name')

submission.to_csv('Cars_price_dct.csv')

In [78]:
import lightgbm

In [79]:
from lightgbm import LGBMRegressor

In [80]:
lgbm=LGBMRegressor(n_estimators=27)

In [81]:
model_lgbm=lgbm.fit(X,y)

In [82]:
pred_lgbm=model_lgbm.predict(newtest)

submission=pd.DataFrame({'Name':test.Name,'Price':pred_lgbm})

submission=submission.set_index('Name')

submission.to_csv('Cars_price_lgbm99.csv')

In [83]:
from sklearn.ensemble import GradientBoostingRegressor
sgd=GradientBoostingRegressor()

In [84]:
model_sgd=sgd.fit(X,y)

In [ ]:
submission=pd.DataFrame({'Name':test.Name,'Price':pred_sgd})

submission=submission.set_index('Name')

submission.to_csv('Cars_price_sgd.csv')

In [ ]:
import catboost

In [ ]:
from catboost import CatBoostRegressor

In [ ]:
cb=CatBoostRegressor(n_estimators=50)

In [ ]:
model_cb=cb.fit(X,y)

In [ ]:
pred_cb=model_cb.predict(newtest)

submission=pd.DataFrame({'Name':test.Name,'Price':pred_cb})

submission=submission.set_index('Name')

submission.to_csv('Cars_price_cb321.csv')

In [87]:
lgbm=LGBMRegressor(n_estimators=28)

rf=RandomForestRegressor(n_estimators=75,max_depth=12)

In [ ]:
from sklearn.ensemble import StackingRegressor

level_0 =[("rf",rf)]

stack= StackingRegressor(estimators=level_0, final_estimator=lgbm)
model13=stack.fit(X,y)

In [ ]:
pred_stack=model13.predict(newtest)

submission=pd.DataFrame({'Name':test.Name,'Price':pred_stack})

submission=submission.set_index('Name')

submission.to_csv('Cars_price_stack2.csv')

In [ ]:
from sklearn.model_selection import KFold
#from sklearn.ensemble import GradientBoostingRegressor

kfold = KFold(n_splits = 3,shuffle = True)

#gbm = GradientBoostingRegressor(random_state = 420)
pred_model = pd.DataFrame()

n =10
for i in range(n):
    folds = next(kfold.split(X))
    xtrain = X.iloc[folds[0]]
    ytrain = y.iloc[folds[0]]
    pred_model[i] = lgbm.fit(X,y).predict(newtest)
    
    
vals = pred_model.mean(axis=1)

submission=pd.DataFrame({'Name':test.Name,'Price':vals})

submission=submission.set_index('Name')

submission.to_csv('Cars_price_kf2.csv')